{% extends 'basegroupe.html.twig' %}

{% block title %}New Groupe{% endblock %}
{% block cc %}

{% block body %}
    <h1></h1>

    {{ include('groupe/_form.html.twig') }}

    <a href="{{ path('app_groupe_index') }}">back to list</a>
{% endblock %}
{% endblock %}
