{% extends 'basebackadmin.html.twig' %}

{% block title %}New Groupe{% endblock %}

    {% block admingroupe %}
        <h1></h1>

        {{ include('admin/form.html.twig') }}

        <a href="{{ path('app_groupe_admin') }}">back to list</a>
    {% endblock %}
